      {% extends 'base1.html' %}
   {% load static %}
      {% block navlist %}
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'index' %}">home</a>
                </li>   
                <li class="nav-item active">
                    <a class="nav-link " href="{% url 'about' %}">About Me</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'skills' %}">Skills</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'connect' %}">Connect</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'hobbies' %}">Interest</a>
                </li> 
                 <li class="nav-item ">
                    <a class="nav-link " href="{% url 'story1' %}">Story 1</a>
                </li>   
                 <li class="nav-item ">
                    <a class="nav-link " href="{% url 'forms' %}">Mata Kuliah</a>
                </li> 
                {% endblock navlist %}
      
       {% block content %}
      <div class=" about container-fluid padding" >
        <div class="About-me text-left">
        <div class="col-11">   
            <h1 class="display-4">About Me</h1>
        </div>
        <hr>
        <div class="col-12">
            <img src="{% static 'image\PR1.jpg' %}"   alt="My Image" class="img-fluid float-left img-thumbnail" >
            <p class="desk">hello!!, Saya Aimar Fikri Salafi. Saya seorang mahasiswa yang berukuliah di FASILKOM UI. Saya lahir Di Jakarta, tanggal 10 oktober 2001. Saya suka sekali melihat sekitar, melihat orang-orang ataupun lingkungan disekitarnya. Saya juga suka berdiskusi dan bertukar pikiran yang terpenting saya suka berteman. Selamat Bertemu!!!</p>
        </div>
        </div> 
      </div>
      {% endblock content %}