{% extends 'base1.html'%}
   {% load static %}
                {% block navlist %}
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'index' %}">home</a>
                </li>   
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'about' %}">About Me</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'skills' %}">Skills</a>
                </li>  
                <li class="nav-item active">
                    <a class="nav-link " href="{% url 'connect' %}">Connect</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'hobbies' %}">Interest</a>
                </li> 
                 <li class="nav-item ">
                    <a class="nav-link " href="{% url 'story1' %}">Story 1</a>
                </li>   
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'forms' %}">Mata Kuliah</a>
                </li> 
                {% endblock navlist %}

                 {% block content %}
         <div class="connect container-fluid padding" >
             <div class="row  padding">
                <div class="col-12 text-center">
                <h2>Connect</h2>
            </div>
            <div class="col-12 social left padding">
               <li> <a target="_ " href="https://www.facebook.com/aimar.fikrisalafi"><i class="fab fa-facebook-f"></i></a></li>
               <li> <a target="_ " href="https://timeline.line.me/api/v1/dtLogin?token=NjA0Y2NjZjYtYTJjZS00OGUwLWI1NTktYmQ3YTQxNmQ0NThh&port=19673"><i class="fab fa-line"></i></a></li>
               <li> <a target="_ " href="https://www.instagram.com/aimarfs/?hl=en"><i class="fab fa-instagram"></i></a></li>
                <li> <a target="_ " href="https://steamcommunity.com/id/aivi01/"><i class="fab fa-steam-square"></i></a></li>
            </div>
             </div>
         </div>
                 {% endblock content %}