 {% extends 'base1.html' %}
   {% load static %}
      {% block navlist %}
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'index' %}">home</a>
                </li>   
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'about' %}">About Me</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'skills' %}">Skills</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'connect' %}">Connect</a>
                </li>  
                <li class="nav-item active ">
                    <a class="nav-link " href="{% url 'hobbies' %}">Interest</a>
                </li> 
                 <li class="nav-item ">
                    <a class="nav-link " href="{% url 'story1' %}">Story 1</a>
                </li>   
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'forms' %}">Mata Kuliah</a>
                </li> 
                {% endblock navlist %}
      
       {% block content %}
       <div class="hobbies container-fluid padding" >
            <div class="About-me text-center">
            <div class="col-10">   
                <h1 class="display-4 text-1" >These are the Thing I love</h1>
            </div>
            <hr>
            <div class="col-12 img-1">
                <a href='https://www.freepik.com/vectors/people' ><img src="{% static 'image/Gaming.jpg' %}"   alt="Image1" class="img-fluid float-left" >People vector created by pikisuperstar - www.freepik.com</a>
                <a href='https://www.freepik.com/vectors/food'><img src="{% static 'image/Cooking.jpg' %}"   alt="Image2" class="img-fluid float-right" >Food vector created by stories - www.freepik.com</a>
            </div>   
            </div>
            </div>
      {% endblock  %}
       
  
       
  