{% extends 'base1.html' %}
  {% load static %}

                {% block navlist %}
                <li class="nav-item active">
                    <a class="nav-link " href="#home">home</a>
                </li>   
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'about' %}">About Me</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'skills' %}">Skills</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'connect' %}">Connect</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'hobbies' %}">Interest</a>
                </li> 
                 <li class="nav-item ">
                    <a class="nav-link " href="{% url 'story1' %}">Story 1</a>
                </li>   
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'forms' %}">Mata Kuliah</a>
                </li> 
                {% endblock navlist %}
       {% block content %}
    <div class="jumbotron" id="home">
        <div class="container">
        <h1 class="display-4">Sup Internet!! I"M</h1>
        <h1 class="display-5">AIMAR</h1>
        <img src= "{% static 'image\profile.jpg' %}" class="box-img">
        </div>
      </div>
      {% endblock content %}
    
     
         
        
   