                {% extends 'base1.html'%} 
                  {% load static %}
                
                {% block navlist %}
                 <li class="nav-item ">
                    <a class="nav-link " href="{% url 'index' %}">home</a>
                </li>   
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'about' %}">About Me</a>
                </li>  
                <li class="nav-item active ">
                    <a class="nav-link " href="{% url 'skills' %}">Skills</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'connect' %}">Connect</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'hobbies' %}">Interest</a>
                </li> 
                 <li class="nav-item ">
                    <a class="nav-link " href="{% url 'story1' %}">Story 1</a>
                </li>   
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'forms' %}">Mata Kuliah</a>
                </li> 
                {% endblock navlist %}

                {% block content %}
                <div class="skills container-fluid " >
                    <div class="row text-center padding">
                        <div class="col-12">
                            <h2>Skills</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4" >
                            <i class="fas fa-code"></i>
                            <h3 class="skills">HTML</h3>
                            <p class="skillsp">Saya Belajar HTML Sekarang</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4" >
                          <i class="fab fa-python"></i>
                          <h3 class="skills">PYTHON</h3>
                          <p class="skillsp">Saya sudah bisa menggunakan python</p>
                      </div>
                      <div class=" col-sm-12 col-md-4" >
                          <i class="fab fa-java"></i>
                          <h3 class="skills">JAVA</h3>
                          <p class="skillsp">Saya sudah bisa menggunakan java</p>
                      </div>
                      <hr class="my-4">
                    </div>
                   </div>
                {% endblock content %}