
body{
    height: 100vh;
    width: 100%;
    font-family:'Poppins'sans-serif; 
    background-color:white ;
    padding-top: 70px;
}


.navbar{
    padding:  .8rem;
    background-color:#202C65;
    color:#FFFEFE;
    font-weight:bold;
}


.navbar-brand{
    filter: contrast(0%);
}
.nav-item{
    color:#FFFEFE;
}
.nav-item:hover{
    color:	#808080;
}

