body {
    margin: 0;
    padding: 0;
    background: url(../image/aurora-1.jpg) no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #464646;
    background-size: cover  ;
}

.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    font-family: 'century Gothic',sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 170px;
    height: 170px;
}
.box h1{
    font-size: 45px;
    color:white;
    letter-spacing: 4px;
    font-weight: 100;
    margin-block-start: 0%;
    margin-block-end: 0%;
}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    color:#57d8ff;
    margin-block-start: 3%;
    margin-block-end: 2%;
}
.box p{
    text-align: justify;
    color: rgb(255, 255, 255);
}


ul{
    margin: 0;
    padding: 0;
}
.boxedu{
    

}
.boxedu li{
    display: inline-block;
    margin: 6px;
    list-style: none;
    color: azure;
}
.boxedu h2{
    color: aliceblue;
}
.boxsocial li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.boxsocial li a{
    color: white;
    text-decoration:none ;
    font-size: 55px;
    transition: all ease-in-out 250ms;
}
.boxsocial li a:hover{
    color: #b9b9b9;
}