   {% extends 'base1.html' %}
   {% load static %}
                {% block css %}
                <link rel="stylesheet" href="{% static 'home/style-s.css' %}">
                 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                {% endblock  %}
                {% block navlist %}
                <li class="nav-item active">
                    <a class="nav-link js-scroll-trigger" href="#home">home</a>
                </li>   
                <li class="nav-item ">
                    <a class="nav-link js-scroll-trigger" href="{% url 'index' %}">Story 3</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'forms' %}">Mata Kuliah</a>
                </li> 
                {% endblock navlist %}
       {% block content %}
    <div class = "box">
    <img src={% static 'image\PR1.jpg' %} alt="pict error" class="box-img">
    <h1> "Hi,I'm Aimar"</h1>
    <h5>Aimar Fikri Salafi |1906400186 Fasilkom UI 2019,Student</h5>
    <p>Seorang manusia yang biasa saja,berasal dari Jakarta,yang suka bermain game dan membaca Light novel </p>

    <div class=boxedu>
        <h2>Education History</h2>
    <ul>
        <li>-SD Al-Kamal            2007-2013</li>
        <li>-SMP 45 Jakarta         2013-2016</li>
        <li>-SMA 78 Jakarta         2016-2019</li>
        <li>-Universitas Indonesia  2019-now</li>
    </ul>
    </div>
    
    <div class="boxsocial"><ul>
        <li> <a href="https://www.facebook.com/aimar.fikrisalafi"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li> <a href="https://steamcommunity.com/id/aivi01/"><i class="fa fa-steam" aria-hidden="true"></i></a></li>
    </ul></div>

    </div>
      {% endblock content %}
   
