{% extends 'base1.html' %}
   {% load static %}
   {% block css %}
                <link rel="stylesheet" href="{% static '/style2.css' %}">
                {% endblock  %}
                {% block navlist %}
                <li class="nav-item active">
                    <a class="nav-link " href="#forms">forms</a>
                </li>   
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'story1' %}">Story 1</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'index' %}">Story 3</a>
                </li>  
                {% endblock navlist %}
                {% block content %}
       <section class="inputJadwal" id="inputJadwal">
                <div class="col-md-6 text-black float-md-left ">
                    <form action="" method="POST" class="ml-5">
                        {% csrf_token %}

                        {% for form in matkul_form %}
                        <div class="form-group">
                           {{form.label}}
                           {{form}}
            
                        </div>
                        {% endfor %}
                       
                        <div class = "centre-items" style = "margin-top: 2%">
                            <input type = "submit" class="btn btn-dark" value="Submit"> 
                        </div>
                    </form>
            </div>
    </section>

    <section class="cekjadwal" id="cekjadwal">
        <div class="table-responsive" id="Table">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Nama Mata Kuliah</th>
                        <th scope="col">Buat Detail</th>
                        <th scope="col">Buat Delete</th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for matkul in semua_matkul%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{matkul.nama_matkul}}</td>
                        <td>
                        <form action="{% url 'detail' matkul.id%}" method="GET">
                        
                        <button class="btn btn-icon btn btn-success" type="submit"><i class="fas fa-info"></i>
                        </button>
                    </form>
                    </td>
                    <td>
                    <form action="{% url 'delete' matkul.id%}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-icon btn-danger" type="submit"><i class="fa fa-trash"></i>
                        </button>
                    </form>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
                
            </table>
    
        
    </section>
    
    
      {% endblock content %}
   
