{% extends 'base1.html' %}
   {% load static %}
   {% block css %}
                <link rel="stylesheet" href="{% static '/style2.css' %}">
                {% endblock  %}
                {% block navlist %}
                <li class="nav-item active">
                    <a class="nav-link " href="#forms">forms</a>
                </li>   
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'story1' %}">Story 1</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'index' %}">Story 3</a>
                </li>  
                {% endblock navlist %}
                {% block content %}
                <div class="whitespace-4"></div>
<div class="content container">
    <h1 class="text-center title-name-2 color-2">{{ classes.matkul }}</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col"></th>
              <th scope="col">Penjelasan</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>mata Kuliah</td>
            <td>{{ item.nama_matkul }}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Dosen</td>
            <td>{{ item.nama_dosen }}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Jumlah SKS</td>
            <td>{{ item.jumlah_sks }}</td>
          </tr>
         
          <tr>
            <th scope="row">4</th>
            <td>Tahun Semester</td>
            <td>{{ item.tahun_semester }}</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Ruang Kelas</td>
            <td>{{ item.ruang_kelas}}</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Deskripsi Mata Kuliah</td>
            <td>{{ item.deksripsi_matkul }}</td>
          </tr>
        </tbody>
      </table>
</div>
<div class="whitespace-1"></div>
{% endblock %}
